<section>
  <h1>About Me</h1>
  <p>My name is Zachary and I am software developer
  specializing in Ruby on Rails and photographer based out of Portland, Oregon.</p>

  <p>Visit my <a href="/about/">About</a> page for more
  information and my <a
    href="http://www.flickr.com/photos/zacharyz/">flickr</a> for examples
  of my photography.</p>

  <p>I can also be found on <a
    href="https://plus.google.com/u/0/117876270244783296581/">Google+</a>.</p>

  <p>I am NOT currently available for freelance projects, but I would
  love to get in touch.</p>

  <p>You should follow me on <a
    href="http://www.twitter.com/zzadell">Twitter</a>.</p>
</section>
