body > header {
  h1 {
    > a{
     // background: image-url("logo2.png") no-repeat scroll 0 0 transparent;
     // display: block;
     // height: 47px;
     // overflow: hidden;
    //  text-indent: -1999px;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}
