// Customize the colors of Octoflat Here


$primary-color:      #3a3a3a; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #e85c41; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #A7A7A7; // Hover-over color, Active Page color
$accent-color1:      #ffffff; // Hover-over background color for tags
$accent-color2:      #3f3f38; // Sub-headings, Date Stamp
$accent-color3:      #3a3a3a; // Navbar Text, Tag text
$bg-color:           #f9f9f9; // Background
$navbar-color:       #ffffff; // Navbar
$code-bg-color:      #2C3E50; // Code background
$quote-color:        #E74C3C; // Quote Color
$text-color:         #3f3f38; // Body Text
$footer-color:       #7F8C8D; // Footer