// Customize the colors of Octoflat Here


$primary-color:      #99CCFF; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #99CCFF; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #A7A7A7; // Hover-over color, Active Page color
$accent-color1:      #ffffff; // Hover-over background color for tags
$accent-color2:      #B8BEC0; // Sub-headings, Date Stamp
$accent-color3:      #333a42; // Navbar Text, Tag text
$bg-color:           #333a42; // Background
$navbar-color:       #99CCFF; // Navbar
$code-bg-color:      #2C3E50; // Code background
$quote-color:        #E74C3C; // Quote Color
$text-color:         #B8BEC0; // Body Text
$footer-color:       #7F8C8D; // Footer