// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.image {
  position:relative;
  h2 {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    span {
      color: white;
      font: bold 24px/45px;
      letter-spacing: -1px;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.7);
      padding: 10px;
    }
  }
}
img.about {
  float: right;
  margin: 20px;
  width: 250px;
  border-radius: 200px;
}
